#nine {
    grid-area: nine; 
}

#eight {
    grid-area: eight; 
}

#seven {
    grid-area: seven; 
}

#six {
    grid-area: six; 
}

#five {
    grid-area: five; 
}

#four {
    grid-area: four; 
}

#three {
    grid-area: three; 
}

#two {
    grid-area: two; 
}

#one {
    grid-area: one; 
}

#zero {
    grid-area: zero; 
}

#addition {
    grid-area: add; 
}

#subtraction {
    grid-area: subtract; 
}

#division {
    grid-area: divide; 
}

#multiplication {
    grid-area: multiply; 
}

#equals {
    grid-area: equal; 
}

#clear {
    grid-area: clear; 
    width: 100px; 
    height: 50px;
}

#delete {
    grid-area: del; 
    width: 100px; 
    height: 50px;
}

#decimal {
    grid-area: decimal; 
}

/* #sqrt {
    grid-area: sqrt; 
} */


.number {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50px;
    background-color: #50fff1;
    font-weight: bold;
}

.operation {
    margin: 0 auto; 
    margin-bottom: 10px;
    width: 50px;
    background-color: lightgreen;
    font-weight: bold;
}

.calculator-container {
    display: flex;
    justify-content: center;  
    flex-direction: column;
    margin-top: 150px;
}

.calculator-input {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    grid-area: input; 
    text-align: right; 
    padding-bottom: 10px; 
    padding-top: 25px;
    font-size: 25px;
    background-color: lightcyan;
}

.last-expression-text {
    grid-area: last; 
    background-color: lightcyan;
    text-align: right; 
    position: relative; 
    top: 31px;
    right: 23px;
    border: none;
}
.calculator {
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 100px 100px 100px 100px;
    margin: 0 auto;
    grid-template-areas: 
        ". . . last"
        "input input input input"
        "del del clear clear"
        "nine eight seven add"
        "six five four subtract"
        "three two one multiply"
        "decimal zero divide equal";
    background-color: lightgoldenrodyellow;
    padding-bottom: 20px; 
}